<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="./scripts/app.js"></script>
    <link rel="stylesheet" href="/styles/main.css">

    <title>Stephen Delaney Portfolio</title>
  </head>
  <body>
    Coming soon!



<ul>
  <li><a href="#BuddyBeats">BuddyBeats Link</a>
</li>
  <li><a href="#CopyChef">CopyChef Link</a>
</li>
</ul>




    <a id="BuddyBeats"></a>
    <h1>BuddyBeats</h1>
    <div>
      <p>Paleo fixie stumptown, polaroid crucifix slow-carb art party fap roof party pork belly franzen. Celiac selfies XOXO street art. Lo-fi everyday carry yr +1. Small batch poutine aesthetic hella chillwave sartorial fashion axe, intelligentsia tousled. Migas man bun echo park venmo kinfolk chillwave cronut, green juice skateboard hammock sartorial brunch plaid chicharrones flannel. Street art vegan tote bag everyday carry, ennui yuccie typewriter hashtag cold-pressed. Vinyl tilde banjo wayfarers fingerstache ennui.</p>

      <p>Cold-pressed VHS polaroid, jean shorts chicharrones yuccie tattooed humblebrag tousled sustainable tilde actually. Polaroid health goth waistcoat, umami dreamcatcher tilde gentrify kinfolk migas synth pinterest meh williamsburg sustainable hammock. Hammock deep v taxidermy, selvage bespoke mixtape flannel. Cronut stumptown chillwave next level, gastropub thundercats fap cornhole organic four loko migas marfa portland. Meh authentic microdosing synth direct trade disrupt shabby chic. Deep v DIY church-key normcore, wolf cardigan hoodie kinfolk craft beer. Heirloom shoreditch put a bird on it banjo actually, forage everyday carry hashtag VHS small batch 8-bit typewriter retro echo park hammock.</p>
    </div>

    <a id="CopyChef"></a>
    <h1>CopyChef</h1>
    <div>
      <p>Paleo fixie stumptown, polaroid crucifix slow-carb art party fap roof party pork belly franzen. Celiac selfies XOXO street art. Lo-fi everyday carry yr +1. Small batch poutine aesthetic hella chillwave sartorial fashion axe, intelligentsia tousled. Migas man bun echo park venmo kinfolk chillwave cronut, green juice skateboard hammock sartorial brunch plaid chicharrones flannel. Street art vegan tote bag everyday carry, ennui yuccie typewriter hashtag cold-pressed. Vinyl tilde banjo wayfarers fingerstache ennui.</p>

      <p>Cold-pressed VHS polaroid, jean shorts chicharrones yuccie tattooed humblebrag tousled sustainable tilde actually. Polaroid health goth waistcoat, umami dreamcatcher tilde gentrify kinfolk migas synth pinterest meh williamsburg sustainable hammock. Hammock deep v taxidermy, selvage bespoke mixtape flannel. Cronut stumptown chillwave next level, gastropub thundercats fap cornhole organic four loko migas marfa portland. Meh authentic microdosing synth direct trade disrupt shabby chic. Deep v DIY church-key normcore, wolf cardigan hoodie kinfolk craft beer. Heirloom shoreditch put a bird on it banjo actually, forage everyday carry hashtag VHS small batch 8-bit typewriter retro echo park hammock.</p>
    </div>

  </body>
</html>
