<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->

    <script type="text/javascript" src="./scripts/app.js"></script>
    <link rel="stylesheet" href="/styles/main.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <title>Stephen Delaney | Online Portfolio</title>
  </head>
  <body>
    <div class="header">
      <div class="container">


      <h1>Stephen Delaney | Online Portfolio</h1>
      <img id="face" src="./images/wdi_cropped.png">
      <p>
      <ul class="header_list_ul">
        <li class="header_list_li"><a href="https://github.com/swdelaney2" target="_blank" class="icon"><img src="./images/GitHub-Mark-32px.png"></a></li>
        <li class="header_list_li"><a href="https://www.linkedin.com/in/swdelaney2" target="_blank" class="icon"><img src="./images/In-Black-34px-R.png"></a></li>
      </ul>



<p>

  <ul class="header_list">
    <li class="header_list_li"><a href="#Projects" class="anchor">PROJECTS</a></li>
    <li class="header_list_li"><a href="#Skills" class="anchor">SKILLS</a></li>
    <li class="header_list_li"><a href="#Contact" class="anchor">CONTACT</a></li>
  </ul>
</div>
</div>


      <div id="projects_div">
        <a id="Projects"></a>
        <h1>Projects</h1>

        <!-- <a href="#" id="contact">BuddyBeats</a> -->


        <div class="thumbnail_container">


          <a href="#" id="buddybeats_expand">
         <figure>
           <img src="./images/BuddyBeats3_c.png" alt="Thumb" width="400" height="300" />
           <figcaption><div class="figcaption_div">BuddyBeats</div></figcation>
         </figure></a>

         <a href="#" id="copychef_expand">
        <figure>
          <img src="./images/CopyChef-2_b.png" alt="Thumb" width="400" height="300" />
          <figcaption><div class="figcaption_div">CopyChef</div></figcation>
        </figure></a>

        <a href="#" id="runningm8_expand">
       <figure>
         <img src="./images/Running M8-2b.png" alt="Thumb" width="400" height="300" />
         <figcaption><div class="figcaption_div">RunningM8</div></figcation>
       </figure></a>
      </div>



      <div class="buddybeats_expand_content">
        info about buddybeats
        <p>Visit <a href="http://bit.ly/BuddyBeats" target="_blank">BuddyBeats</a> in the interim!
  <a class="close" href="#Projects">Close</a>
  </div>

  <div class="copychef_expand_content">
    <a class="close" href="#Projects"><img src="./images/x-icon1.gif" id="x_icon"></a>

<h1>CopyChef</h1>    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse justo nisi, hendrerit at enim eu, ornare eleifend sapien. Nulla pulvinar aliquet lorem vitae gravida. Quisque eu rutrum erat. Vivamus dictum, eros at sagittis accumsan, nunc eros molestie magna, pharetra blandit ante tortor vel velit. Mauris posuere condimentum felis, vel bibendum enim sollicitudin quis. Donec imperdiet at purus at euismod. Morbi ullamcorper odio velit, luctus iaculis lorem imperdiet quis. Morbi faucibus diam magna. Donec ut leo in nunc luctus scelerisque at vel leo. Nunc dapibus nibh nibh, sit amet suscipit arcu hendrerit vel. Nam semper sit amet orci sit amet venenatis. Nulla ut tellus dolor. Fusce at dui ultrices, fermentum eros at, porttitor est. Donec vel facilisis ante, sit amet sagittis diam. Mauris enim risus, viverra at lobortis a, sollicitudin nec est. Donec ornare est dolor.
<p>
Duis bibendum libero ac purus eleifend, in aliquet felis convallis. Aenean nec justo in ex molestie scelerisque in laoreet lacus. Mauris fringilla semper massa, sit amet consectetur urna accumsan et. Vivamus id mi luctus, malesuada augue a, ultrices metus. Maecenas lacinia risus vitae diam iaculis scelerisque. Cras nec auctor ante. Proin vel bibendum sem. Aenean vestibulum odio mauris. Fusce consequat lorem dui, ut ornare diam feugiat ut. Suspendisse potenti. Curabitur accumsan erat dui, sed vestibulum dolor ultrices ut. Etiam ut leo rutrum, congue eros ac, aliquam purus. Sed a commodo nibh, sit amet tempor ex.
<p>
In a nulla volutpat, sodales tortor porttitor, vulputate nunc. Nam vel lacus nibh. Suspendisse volutpat at arcu vel vestibulum. Vestibulum eu ante vel odio iaculis ultricies in tristique nisi. Ut mattis efficitur commodo. Ut ut diam quis nisl rutrum rhoncus. Nunc ac arcu erat. Curabitur ut tellus congue, condimentum urna in, porta nulla. Integer a risus orci. Phasellus varius faucibus maximus. Nunc in rhoncus quam. Etiam tincidunt, felis et vestibulum tempus, felis eros vulputate tortor, id imperdiet leo sem in mi. Integer ultrices eros in pharetra imperdiet. Nullam nunc felis, gravida at mollis a, tincidunt at nisl. Aliquam ornare quam urna, vel aliquet felis ultrices non.
<p>
Vivamus luctus egestas libero vel commodo. Donec fringilla egestas dignissim. Nunc iaculis leo ut libero scelerisque, id ornare libero ornare. Morbi nisi turpis, accumsan nec fermentum eu, vulputate quis dolor. Duis at pellentesque nulla, ut iaculis libero. Mauris vel hendrerit turpis, sit amet tincidunt orci. Mauris pretium dui ut congue congue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer ultricies tempor diam, dictum consequat ipsum consequat id. Integer maximus justo et libero vulputate, eu blandit est finibus. In hac habitasse platea dictumst. Suspendisse ipsum metus, porta ac pellentesque a, sagittis nec est. Duis diam nunc, pellentesque non nisl nec, consequat eleifend tortor.
<p>
Nulla facilisis tellus nec quam pulvinar, at fringilla magna vulputate. Duis tempus nec turpis in semper. Cras efficitur felis nec ipsum sodales, eu accumsan sapien maximus. Fusce varius pretium enim sit amet consequat. Mauris convallis erat nibh, laoreet fringilla felis tristique nec. Curabitur efficitur eget justo ut gravida. Integer ac justo eget odio ullamcorper tristique. Proin sollicitudin tincidunt libero, nec hendrerit leo viverra vitae. Ut porttitor consequat nisi, eget sollicitudin augue.<p>
<a class="close" href="#Projects">Close</a>
</div>

<div class="runningm8_expand_content">
  info about runningm8
<a class="close" href="#Projects">Close</a>
</div>

    </div>

    <div id="skills_div">
      <a id="Skills"></a>
      <h1>Skills</h1>
    <p>
      <table>
        <tr>
          <td style="text-align:center"><strong>Core Languages Learned:</strong></td>
          <td></td>
          <td style="text-align:center"><strong>Related Skills:</strong></td>
        </tr>
        <tr>
          <td>
            <ul id="skills_list">
              <li>HTML5</li>
              <li>CSS/Sass</li>
              <li>Javascript</li>
              <li>jQuery</li>
              <li>Ruby</li>
            </ul>
          </td>
          <td></td>
          <td>
            <ul id="skills_list">
              <li>Active Record</li>
              <li>Ajax</li>
              <li>Backbone.js</li>
              <li>Bootstrap</li>
              <li>Express.js</li>
              <li>Handlebars.js</li>
              <li>jQuery UI</li>
              <li>MongoDB</li>
              <li>Node.js</li>
              <li>PostgreSQL</li>
              <li>Rake</li>
              <li>Ruby on Rails</li>
              <li>Servers</li>
              <li>Sinatra</li>
              <li>Underscore.js</li>
            </ul>
          </td>
        </tr>
      </table>
      <p><div class="container">
        For more information, please download my resume or visit my <a href="https://profiles.generalassemb.ly/profiles/stephen-delaney" target="_blank">General Assembly profile</a>.
      </div>
    </div>


    <div id="contact_div">
      <a id="Contact"></a>
      <div class="container">
      <h1>Contact</h1>
      <p>I am currently seeking full-time employment. Feel free to reach out to me:
      <p><a href="mailto:swdelaney2@gmail.com" target="_top">swdelaney2@gmail.com</a></div>
    </div>





  </body>
</html>
