<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/test.css">

    <title></title>
  </head>
  <body>


<div class="thumbnail_container">
 <figure>
   <img src="https://d13yacurqjgara.cloudfront.net/users/220419/screenshots/1714518/shot-codigo.jpg" alt="Thumb" width="400" height="300" />
   <figcaption><div class="other">Thumbnail Caption</div></figcation>
 </figure>
</div>

  </body>
</html>
