body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(189, 212, 222);
  text-align: center;
}

.container {
  background-color: rgba(239, 239, 239, .8);
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}


.header {
  padding-top: 2em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 608px;
  background-image: linear-gradient(to bottom, rgba(239, 239, 239, 0.3) 0%, rgba(239, 239, 239, 0.3) 100%), url(/images/insta.jpg);}



div {
  margin-bottom: -25px;
  height: 608px;
}

#projects_div {
  padding-top: 2em;
  background-image: linear-gradient(to bottom, rgba(239, 239, 239, 0.5) 0%, rgba(239, 239, 239, 0.5) 100%), url(/images/insta2.jpg);
}

#skills_div {
  padding-top: 2em;
    background-image: linear-gradient(to bottom, rgba(239, 239, 239, 0.5) 0%, rgba(239, 239, 239, 0.5) 100%), url(/images/insta5.jpg);
    background-position: bottom;
}

#contact_div {
  padding-top: 100px;
    background-image: linear-gradient(to bottom, rgba(239, 239, 239, 0.5) 0%, rgba(239, 239, 239, 0.5) 100%), url(/images/insta3.jpg);
}

h1 {
  color: rgb(63, 87, 101);
}

a {
  color: rgb(43, 58, 66);
}

#face {
  border-radius: 50%;
  height: 10em;
  display: inline;
}

ul {
  display: inline;
}

li {
  display: inline;
  padding: 1em;
}


/*POP UPS BELOW*/

/*
a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}*/

.messagepop {
  position: fixed;
  margin-top: 15px;
  top: 0;
  left: 0;
  right: 0;
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  /*margin-top: 15px;
  position:absolute;
  text-align:left;*/
  width:85%;
  margin-left: auto;
  margin-right: auto;
  /*z-index:50;
  padding: 25px 25px 20px;*/
}

/*label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}*/

/*.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}*/
