body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(189, 212, 222);
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

table {
  display:inline-table;
}

#skills_list {
  margin-left: -20px;
}

td {
  text-align: left;
  vertical-align: top;
}

.container {
  background-color: rgba(239, 239, 239, .8);
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}


.header {
  padding-top: 2em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 608px;
  background-image: linear-gradient(to bottom, rgba(239, 239, 239, 0.3) 0%, rgba(239, 239, 239, 0.3) 100%), url(/images/insta.jpg);}



div {
  margin-bottom: -25px;
  height: 608px;
}

.figcaption_div {
  margin-bottom: 0px;
  height: auto;
}

#projects_div {
  padding-top: 2em;
  background-image: linear-gradient(to bottom, rgba(239, 239, 239, 0.5) 0%, rgba(239, 239, 239, 0.5) 100%), url(/images/insta2.jpg);
}

#skills_div {
  padding-top: 2em;
    background-image: linear-gradient(to bottom, rgba(239, 239, 239, 0.5) 0%, rgba(239, 239, 239, 0.5) 100%), url(/images/insta5.jpg);
    background-position: bottom;
}

#contact_div {
  padding-top: 100px;
    background-image: linear-gradient(to bottom, rgba(239, 239, 239, 0.5) 0%, rgba(239, 239, 239, 0.5) 100%), url(/images/insta3.jpg);
}

h1 {
  color: rgb(63, 87, 101);
}

a {
  color: rgb(43, 58, 66);
}

#face {
  border-radius: 50%;
  height: 10em;
  display: inline;
}

.header_list_ul {
  display: inline;
}

.header_list_li {
  display: inline;
  padding: 1em;
}

/*li {
  display: inline;
}*/

ul {
    list-style-position: inside;
}


/*POP UPS BELOW*/

/*
a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}*/

.buddybeats {
  position: fixed;
  margin-top: 15px;
  top: 0;
  left: 0;
  right: 0;
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  /*margin-top: 15px;
  position:absolute;
  text-align:left;*/
  width:85%;
  margin-left: auto;
  margin-right: auto;
  /*z-index:50;
  padding: 25px 25px 20px;*/
}

/*label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}*/

/*.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}*/


/*http://codepen.io/larrygeams/pen/dBDLh*/
*, *::before, *::after{
  -moz-box-sizing: border-box;
       box-sizing: border-box;

  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.thumbnail_container{
  width: 1024px;
  max-width: 100%;
  margin: auto;
  display: block;
  text-align: center;
}

.hero{
  width: 100%;
  height: 40%;
  background: #3498db;
  display: table;
}

figure{
  width: 400px;
  height: 300px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  /*float: left;*/
  vertical-align: top;
  border: 5px solid #fff;
  box-shadow: 0 0 5px #ddd;
  /*margin: 1em;*/
  margin-left: 1em auto;
  margin-right: 1em auto;

}

/*#figure_three {
  float: none;
  display: inline-block;
}*/

figcaption{
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: table;
}

figcaption div{
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: 20px;
  opacity: 0;
  color: #2c3e50;
  /*text-transform: uppercase;*/
}

figcaption div:after{
  position: absolute;
  content: "";
  left: 0; right: 0;
  bottom: 40%;
  text-align: center;
  margin: auto;
  width: 0%;
  height: 2px;
  background: #2c3e50;
}

figure img{
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

figure:hover figcaption{
 background: rgba(255,255,255,0.3);
}

figcaption:hover div{
  opacity: 1;
  top: 0;
}

figcaption:hover div:after{
  width: 50%;
}

figure:hover img{
  -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);
}
